node_modules
.next
.turbo
dist
storybook-static
coverage
.env
.env.local
*.log
.DS_Store
cypress/videos
cypress/screenshots
cypress/downloads
test-results
playwright-report
*.tsbuildinfo
.cache
.idea/*
